<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="icon" href="#" type="image/x-icon">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cuprum|Maven+Pro|Open+Sans">
        <title>Nerine | Панель администратора</title>
    </head>
    <body>
        <div class="login_form">
            <h1>NERINE | панель администратора</h1>
            <form action="" method="post">
                {% csrf_token %}
                <input type='text'
                       name='login'
                       placeholder='username'
                       required>
                <input type="password"
                       name="passwd"
                       placeholder='password'
                       required>
                <input type="submit"
                       class="button"
                       value="Войти">
            </form>
            <span class="auth_link">
                <a href="#">Восстановление пароля</a>
            </span>
        </div>
    </body>
</html>