<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="#">
        <link rel="icon" href="#" type="image/x-icon">
        <title>Nerine | Панель администратора</title>
    </head>
    <body>
        <header>
            <h1 class="header_title">NERINE | Панель администратора</h1>
            <div class="header__logout-panel">
                <p>
                    Вы зашли как 
                    <span class="header__logout-panel_admin-name">administraitor</span>
                </p>
                <a class="header__logout-panel_logout-link" href="#">Выйти</a>
            </div>
        </header>
        <main>
            <div class="management-panel">
                <ul>
                    <li class="management-panel_item">
                        <a href="#">Добавить нового администратора</a>
                    </li>
                    <li class="management-panel_item">
                        <a href="#">Учётные записи польователей</a>
                    </li>
                </ul> 
            </div>
            <ul class="nav-menu">
                <li class="nav-menu_item">
                    <a href="#">СПИСОК САЙТОВ</a>
                </li>
                <li class="nav-menu_item">
                    <a href="#">ЛИЧНОСТИ</a>
                </li>
                <li class="nav-menu_item">
                    <a href="#">КЛЮЧЕВЫЕ СЛОВА</a>
                </li>
            </ul>
            {% block content %}
            {% endblock %}
        </main>               
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/common.js' %}"></script>
    </body>
</html>