{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
                <form action="{% url page %}"
                      method="post"
                      class="content_form">
                    {% csrf_token %}
                    <div class="content__save-button">
                        <input type="text" class="content__save-button_text" name="keyword_name">
                        <select name="select">
                            {% for person in persons %}
                            <option value="{{ person.id }}">{{ person }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" class="button" value="Сохранить" name="save">
                    </div>
                </form>
                <table>
                    {% for item in data %}
                    <tr>
                        <td>{{ item }}</td>
                        <td>{{ item.PersonID.Name }}</td>
                        <td>
                            <a href="#" class="table_link">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'delete_keyword'  item.id %}" class="table_link">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
{% endblock %}