{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}              
                <form method="post"
                      role="form"
                      action="{% url 'users_registration' %}"
                      class="users-registration-form">
                    {% csrf_token %}
                    <table class="user_reg_table">
                        {{ form.as_table }}
                    </table>
                    <input type="submit"
                           value="Зарегестрировать"
                           class="button">
                </form>
{% endblock %}
