html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Cuprum', sans-serif;
}

a, .header__login-panel_button {
    font-family: 'Maven Pro', sans-serif;
}

p, td, .button, .header__logout-panel, label {
    font-family: 'Open Sans', sans-serif;
}

.active {
    background: #2e2e2e;
}

.error {
    color: red;
    text-align: right;
    padding: 0 30px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #888;
    padding: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #f5f3f3;
    background: #2e2e2e;
    box-shadow: rgba(0,0,0,.6) 2px 2px 5px;
}

.header_title {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0 30px;
}

.header_title a {
    padding-left: 20px;
    color: #189cde;
    text-decoration: none;
}

.header_title a:hover {
    text-decoration: underline;
}

.header__login-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #f5f3f3;
}

#header__login-panel_form {
    display: none;
}

.header__login-panel_admin-name {
    color: #189cde;
}

.header__login-panel_logout-link {
    color: #189cde;
}

.header__login-panel_logout-link:hover {
    color: #f5f3f3;
}

.header__login-panel_button {
    color: #189cde;
    cursor: pointer;
    padding: 0 30px;
}

.header__login-panel_button:hover {
    text-decoration: underline;
}

.header__logout-panel {
    padding: 0 30px;
}

.header__logout-panel a {
    color: #189cde;
    text-decoration: none;
    padding-right: 52px;
}

.header__logout-panel a:hover {
    text-decoration: underline;
}

.header__logout-panel_username {
    color: #189cde;
}

main {
    display: flex;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 260px;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 29px 0;
    background: #444444;
    width: 250px;
    height: 100vh;
}

.nav-menu_item {
    padding: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
}

.nav-menu_item a {
    color: #f5f3f3;
    text-decoration: none;
    padding: 10px 30px;
    width: 100%;
}

.nav-menu_item a:hover {
    background: #2e2e2e;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.content_form {
    display: flex;
    flex-direction: row;
}

.content__save-button {
    display: flex; 
    align-items: center;
}

.content__save-button_text {
   
}

.content_link {
    color: #189cde;
    text-decoration: none;
    padding-top: 9px;
}

.content_link:hover {
    text-decoration: underline;
}

.users-registration-form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.button {
    color: #f5f3f3;
    background: #189cde;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #53b0e0;
}

select {
    margin: 0 5px 0 10px;
}

.user_reg_table {
    color:  #2e2e2e;
    text-align: right;
}

.user_reg_table td {
    border: none;
}

.table_link {
    color: #189cde;
}
























